*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    position: absolute;
    display: flex;
    justify-content: start;;
    background: darkkhaki;
    width: 90vw;
    height: 100vh;
}
.board{
    position: relative;
    margin: 10px;
    width: 100%;
    height: 600px;
    background: skyblue;
    border: 1px solid brown;
    z-index: 3;
    }
#player{
    position: absolute;
    font-size: 120px;
    color: crimson;
    z-index: 1;
    display: none;
}
#player img{
    width: 9%;
}
#start__btn{
    position: relative;
    z-index: 3;
    top: 300px;
    left: 400px;
    width:200px;
    font-size: 40px;
    font-weight: 900;
    border-radius: 10px;
    }
/* .moveObst{
    display: none;
} */
.mount{
    position: absolute; 
    font-size: 290px;
    color: gray;
}
.tree{
    position: absolute;
    font-size: 130px;
    color: green;
}
.tree2{
    color: limegreen;
    font-size: 120px;
    z-index: 1;
}
.tree3{
    color: darkgreen;
    font-size: 160px;
}
.tree4{
    z-index: 1;
}

.city{
    position: absolute;
    font-size: 200px;
}
.city1{
    color: wheat;
    z-index: 0;
}
.city2{
    color:gold;
    }
.city3{
    color: brown;
    z-index: 0;
}

.img img{
    width: 6%;
    position: absolute;
}
.bird1 img{
    width:9%;
}
.bird2 img{
    width:55%;
}
.bird{
    position: absolute;
    font-size: 50px;
}
.bird1{
    color:whitesmoke;
}
.bird2{
    width: 100px;
    color:grey;
}

.cloud{
    position: absolute;
    font-size: 60px;
}
.cloud1{
    color:lightgray;
}
.cloud2{
    color:lightgrey;
}
.cloud3{
    color:lightgray;
}